
/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f9;
}

h2 {
    text-align: center;
    margin-top: 20px;
    font-size: 1.5em;
}

.task-section {
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
}

.task-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Input and Buttons */
input,
select,
button {
    padding: 12px;
    margin-bottom: 10px;
    width: 20%;
    font-size: 1em;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button.add-task-btn {
    background-color: green;
    /* Green color for Add Task button */
    color: white;
    cursor: pointer;
    border: none;
    font-size: 1.1em;
}

button.add-task-btn:hover {
    background-color: darkgreen;
}

/* Task Items */
.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    flex-wrap: wrap;
}

.task-item.approved {
    background-color: #c8e6c9;
}

.task-item .task-actions {
    display: flex;
    gap: 10px;
}

.task-item p {
    font-size: 1em;
    font-weight: bold;
    color: #333;
    flex-grow: 1;
    margin-right: 10px;
}

.priority-low {
    color: green;
}

.priority-medium {
    color: orange;
}

.priority-high {
    color: red;
}

.task-actions i {
    font-size: 20px;
    cursor: pointer;
}

/* Mobile Responsive */
@media (max-width: 768px) {
    .task-container {
        gap: 10px;
    }

    h2 {
        font-size: 1.2em;
    }

    input,
    select,
    button {
        width: 100%;
        font-size: 1em;
    }

    .task-item p {
        font-size: 0.9em;
        margin-right: 5px;
        word-wrap: break-word;
    }

    .task-item {
        flex-direction: column;
        gap: 10px;
    }

    .task-item .task-actions {
        flex-direction: column;
    }

    .task-section {
        margin: 10px;
        padding: 15px;
    }
}

@media (max-width: 480px) {
    .task-section {
        margin: 10px 5px;
        padding: 10px;
    }

    .task-item {
        padding: 12px;
    }

    .task-item p {
        font-size: 0.8em;
    }

    button {
        font-size: 0.9em;
        padding: 10px;
    }
}
